* {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

#outsideDiv {
    display: table;
    height: 100vh;
    width: 100%;
}

#middleDiv {
    display: table-cell;
    vertical-align: middle;
}

#grid-container {
    margin: auto;
    display: grid;
    width: 1033px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    -ms-grid-template-columns: auto auto auto auto;
    -ms-grid-template-rows: auto auto auto;
    -ms-grid-gap: 20px;
}

.grid-item {
    height: 200px;
    font-size: 18pt;
    color: white;
    overflow: hidden;
}

.glow {
    box-shadow: 0 0 5px 5px rgb(194, 98, 98);
}

.image {
    object-fit: none;
    height: 100%;
    width: 100%;
}

.img0 {
    object-position: 0 0;
}

.img1 {
    object-position: -538px 0;
}

.img2 {
    object-position: 0 -220px;
}

.img3 {
    object-position: -367px -220px;
}

.img4 {
    object-position: -367px -440px;
}

.img5 {
    object-position: -710px -440px;
}

.gi0 {
    background-color: grey;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column-start: 1;
    -ms-grid-column-end: 3;
    -ms-grid-row-start: 1;
    -ms-grid-row-end: 2;
    height: 200px;
    width: 518px;
}
.gi1 {
    background-color: grey;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column-start: 3;
    -ms-grid-column-end: 5;
    -ms-grid-row-start: 1;
    -ms-grid-row-end: 2;
    height: 200px;
    width: 495px;
}
.gi2 {
    background-color: grey;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column-start: 1;
    -ms-grid-column-end: 2;
    -ms-grid-row-start: 2;
    -ms-grid-row-end: 4;
    height: 420px;
    width: 347px;
}
.gi3 {
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-start: 2;
    -ms-grid-column-end: 5;
    height: 200px;
    width: 666px;

}
.gi4 {
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-column-start: 2;
    -ms-grid-column-end: 4;
    height: 200px;
    width: 323px;
}
.gi5 {
    background-color: grey;
    height: 200px;
    width: 323px;
}

.infotext {
    position: relative;
    bottom: 30pt;
    padding: 0 10px;
    background-color: rgba(150, 150, 150, 0.7);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto; /* Enable scroll if needed */
}

.mid-modal {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.modal-content {
    vertical-align: middle;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1080px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}