* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #eee;
}

#my-name {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px #aaa;
    font-size: 36pt;
    text-align: center;
    opacity: 0;
    animation-name: fade-in, translate-down;
    animation-duration: 750ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}

#outsideDiv {
    display: table;
    height: 80vh;
    width: 100%;
}

#middleDiv {
    display: table-cell;
    vertical-align: middle;
}

#grid-container {
    margin: auto;
    display: grid;
    width: 1033px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    -ms-grid-template-columns: auto auto auto auto;
    -ms-grid-template-rows: auto auto auto;
    background-clip: padding-box;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.grid-item {
    height: 200px;
    font-size: 18pt;
    color: white;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-color: rgba(255,255,255,0);
    background-clip: content-box;

}

.glow {
    filter: drop-shadow(0 0 10px rgb(194,98,98));
}

.image {
    object-fit: none;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

#img0 {
    object-position: 0 0;
}

#img1 {
    object-position: -538px 0;
}

#img2 {
    object-position: 0 -220px;
}

#img3 {
    object-position: -367px -220px;
}

#img4 {
    object-position: -367px -440px;
}

#img5 {
    object-position: -710px -440px;
}

#gi0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column-start: 1;
    -ms-grid-column-end: 3;
    -ms-grid-row-start: 1;
    -ms-grid-row-end: 2;
    height: 200px;
    width: 518px;
}
#gi1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column-start: 3;
    -ms-grid-column-end: 5;
    -ms-grid-row-start: 1;
    -ms-grid-row-end: 2;
    height: 200px;
    width: 495px;
}
#gi2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    -ms-grid-column-start: 1;
    -ms-grid-column-end: 2;
    -ms-grid-row-start: 2;
    -ms-grid-row-end: 4;
    height: 420px;
    width: 347px;
}
#gi3 {
    grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-start: 2;
    -ms-grid-column-end: 5;
    height: 200px;
    width: 666px;

}
#gi4 {
    grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-column-start: 2;
    -ms-grid-column-end: 4;
    height: 200px;
    width: 323px;
}
#gi5 {
    height: 200px;
    width: 323px;
}

.infotext {
    position: relative;
    bottom: 30pt;
    padding: 0 10px;
    background-color: rgba(100, 100, 100, 0.7);
    text-shadow: 2px 2px #333;
}

.infotextActive {
    background-color: rgba(184, 113, 113, 0.7)
}

#mobile-container {
    display: none;
    text-align: center;
}

.mobile-box {
    height: 93%;
    position: relative;
    opacity: 0;
}

.mobile-image {
    display: block;
    width: 100%;
}

.mobile-infotext {
    font-size: 24pt;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    color: #eee;
    position: absolute;
    bottom: 24px;
    text-shadow: 2px 2px #333;
}

.modal {
    display: none;
    position: absolute; /* scrolls with page */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.mid-modal {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.modal-content {
    vertical-align: middle;
    background-color: #ddd;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 900px;
}

.icon-link {
    height: 100px;
    width: 100px;
    margin: 2% 7%;
}

.icon-link:hover {
    filter: drop-shadow(0 0 10px rgb(194,98,98));
}

.links-row {
    text-align: center;
}

.close {
    color: #aaa;
    background-color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.preload {
    display: none;
}

/* make cursor change to pointer to make it obvious this is a clickable element */
.pointer {
    cursor: pointer;
}

#description {
    text-align: center;
    background-color: #ddd;
}

#description-text {
    margin: auto;
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: left;
    margin: 3% 5% 0 5%;
}

.fadeIn {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.fadeIn2 {
    animation-name: fade-in;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation-name: fade-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes translate-down {
    0% {bottom: 10px;}
    100% {bottom: 0px;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@media only screen and (max-width: 1024px) {
    #my-name {
        animation-delay: 200ms;
    }

    #mobile-container {
        display: initial;
        width: 100%;
    }

    #grid-container {
        display: none;
    }

    .modal {
        position: fixed;
        overflow: auto;
    }

    .modal-content {
        width: 92%;
    }

    #modalImage {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #my-name {
        font-size: 24pt;
    }

    .mobile-infotext {
        font-size: 18pt;
        bottom: 18px;
    }

    #description-text {
        font-size: 11pt;
    }
}

@media only screen and (max-width: 480px) {
    #my-name {
        font-size: 18pt;
    }

    .mobile-infotext {
        font-size: 12pt;
        bottom: 12px
    }

    #description-text {
        font-size: 10pt;
    }
}